/* Reset and Common Styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 15rem;
    border-bottom: .3rem solid #333;
    text-shadow: .2rem .2rem .5rem #555;
}

/* End Reset and Common Styles */

/* Section 1 */

.section-1 {
    width: 100%;
    height: 100vh;
    background: url(images/pexels-jakub-novacek-924824.jpg) center no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3rem;
}

.section-1-heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    
}

.section-1-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.person-img {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem dotted #1363DF;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    opacity: 0.9;
}

.button {
    position: relative;
    top: 60px;
}

.section-1-btn {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    background-color: white;
    border: 0.3rem solid#333;
    padding: 0.3rem 0.1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

/* End of Section 1 */

/* Navbar */
.navbar {
    width: 100%;
    height: 4rem;
    background-color: #1363DF;
    box-shadow: .2rem .2rem .5rem #555;
    position: sticky;
    top: 0;
    z-index: 100;
}

.sticky {
    position: sticky;
}

.navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    margin: 0 3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}

.navbar-link:hover {
    color: white;
}

.change.navbar-link {
    color: white;
}

.navbar-link::before {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: white;
    position: absolute;
    right:-15%;
    bottom: -.3rem;
    transition: width .2s;
}

.change.navbbar-link::before {
    width: 130%;
}

.navbar-link:hover::before {
    width: 130%;
}


/* End of Navbar */

/* Section 2 */
.section-2 {
    width:100%;
    height: 100%;
    padding: 15rem 0 10rem 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.progress-bars-wrapper {
    margin-bottom: 10rem;
}

.progress-bar {
    width: 60rem;
    height: 3rem;
    background-color: #ccc;
    margin: 1.5rem 0;
    border-radius: .3rem;
    box-shadow: .2rem .2rem 1rem #555;
    position: relative;
}

.progress-text {
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    color: white;

}

.progress-text span {
    margin: 0 .5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.progress-percent {
    width: 0;
    height: 100%;
    background-color: #1363DF;
    border-radius: .3rem;
}



#html {
    width: 94%;
}

#css {
    width: 90%;
}

#bootstrap {
    width: 82%;
}

#javascript {
    width: 87%;
}

#github {
    width: 75%;
}

#jquery {
    width: 82%;
}

#swift {
    width: 55%;
}

.services {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service {
    text-align: center;
}

.service:first-child,
.service:last-child {
    align-self: flex-start;
}

.service i {
    font-size: 10rem;
    color: #47B5FF;
    margin-bottom: 2rem;
    text-shadow: .1rem .1rem .5rem #555;
}

.service h2 {
    font-size: 2rem;
    color: white;
    background-color: #47B5FF;
    width: 25rem;
    letter-spacing: .3rem;
    transform: skew(-10deg);
    box-shadow: .2rem .2rem .5rem #555;
    margin: 0 1rem;
}

/* End of Section 2 */

/* Section 3 */

.section-3 {
    width: 100%;
    height:100%;
    padding: 10rem 0rem;
    background-color: #eef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-wrapper {
    width: 80%;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: .3rem .3rem .5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow .5s;
    border-radius: 10px;
}



.project:hover {
    box-shadow: 1rem 1rem 1rem #777;
    
}

.project-text {
    text-align: center;
    letter-spacing: .1rem;
    position: absolute;
    top: -10rem;
    transition: top .3s;;
    z-index: 10;
}

.project:hover .project-text {
    top: 5rem;
    transition: top .3s .3s;
}

.project-name {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;
}

.project-technologies {
    font-size: 1.8rem;
    color: #47B5FF;

}

.project-img {
    width: 40rem;
    height: 22rem;
    transform: opacity .3s;
}

.project:hover .project-img {
    opacity: .2;
}

.project-link {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    letter-spacing: .1rem;
    border: .3rem solid #1363DF;
    padding: 0 1rem;
    background-color: white;
    position: absolute;
    bottom: -5rem;
    transition: bottom .3s;
}

.project:hover .project-link {
    bottom: 5rem;
    transition: bottom .3s .3s;
}

/* End of Section 3 */

/* Section 4 */

.section-4 {
    width: 100%;
    height: 70vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-4-heading {
    color:white;
    box-shadow: none;
    border-color: white;
    margin-bottom: 5rem;
}

.contact-form {
    width: 50rem;
    flex-direction: column;

    }

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    background-color: #eef;
    font-size: 1.5rem;
    border: .2rem solid #1363DF;
    color: #555;
}

.contact-form textarea {
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
}

.contact-form .contact-form-btn {
    background-color: #1363DF;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
}


/* End of Section 4 */

.certificats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: .3rem .3rem .5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow .5s;
    border-radius: 10px;
}

.certificats:hover {
    box-shadow: 1rem 1rem 1rem #777;
    transform: scale(3);
    
}



/* Section 5 */

.section-5 {
    width: 100%;
    height: 30vh;
    background-color: #222;
    flex-direction: column;
}

.social-media {
    margin-bottom: 5rem;

}

.social-media-link {
    margin: 0 2rem;
    padding: .7rem;
    background-color: #1363DF;
    border-radius: .5rem;
    display: inline-block;
}

.social-media-link i {
     font-size: 3rem;
     color: white;
     
 }

.copyright {
    color: #aaa;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-align: center;
}
/* End of Section 5 */


/* Responsive */

@media (max-width: 1200px) {
    .services {
        height: auto;
        flex-wrap: wrap;
    }

    .service {
        margin: 3rem 2rem;
    }

    .certificats:hover {
        box-shadow: 1rem 1rem 1rem #777;
        transform: scale(1.5);
        
    }


}



@media (max-width: 820px) {
    
    .section-1-container {
        flex-direction: column;
    }

    .section-1-heading {
        text-align: center;
    }

    .section-1-image {
        margin: 4rem 0rem 2rem 0rem;
    }

    .certificats:hover {
        box-shadow: 1rem 1rem 1rem #777;
        transform: scale(1);
        
    }

    
}

@media (max-width: 760px) {
    .navbar-link {
        font-size: 1.5rem;
        margin: 0 1.5rem;
    }
        
}

@media (max-width: 615px) {

    .progress-bars-wrapper {
        width: 100%; 
        margin: 0rem 2rem;
    }

 .progress-bar {
     width: auto;
     margin: 2rem 2rem;
 }

 .navbar-link {
    font-size: 1.2rem;
    margin: 0 1.5rem;
}
}

@media (max-width: 550px) {
    .section-1 {
        flex-direction: column;
        width: auto;
    }
    .navbar-link {
        font-size: 1rem;
        margin: 0 2 rem;
    }

    .section-2-heading {
        margin-bottom: 10rem;
    }

    .contact-form {
        width: 40rem;
    }
}

@media (max-width: 532px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 478px) {
    .section-2-heading {
        text-align: center;
    }

    .section-3-heading {
        margin-bottom: 10rem;
    }

    .section-6-heading {
        font-size: 2.5rem;

    }
}

@media (max-width: 450px) {

    #genny-title {
        font-size: 240%;
    }

}

@media (max-width: 417px) {

    .navbar-link {
        font-size: .85rem;
        margin: 0 .5rem;
    }

}

@media (max-width: 380px) {
    

    .navbar {
        width: auto ;
    }

    .contact-form {
        width: 80%;
    }
   

}

@media (max-width: 362px) {
    .section-1-container {
        padding: 0;
    }

    .section-3-heading {
        width: 75%;
        text-align: center;
    }

    .section-4-heading {
        width: 75%;
        text-align: center;
    }
}

@media (max-width: 325px) {
    .section-1-image img {
        width: 80%;
    }
}

@media(max-height: 760px ) {
    .section-1 {
        height: auto;
    }

    .button {
        display: none;
    }

    .section-1-image img {
        scale: 0.8;
    }
    .section-3-heading {
        margin-bottom: 10rem;
    }
    .project-text {
        top: -15rem;
    }

    
}